<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                logFile="proxy_log.log"
                logLevel="WARNING"
                mustMatch="true">
  <serverUrls>
		<serverUrl url="http://server:8080/arcgis"
				   matchAll="true"
				   httpBasicAuth="true"
				   username="111"
				   password="1111">
		</serverUrl>
		<serverUrl url="https://services.arcgisonline.com/ArcGIS/rest/services"
				   matchAll="true">
		</serverUrl>
    </serverUrls>
</ProxyConfig>


<!-- See https://github.com/Esri/resource-proxy for more information -->
